footer {
    padding: 20px;
    text-align: center;

    a {
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer_bottom {
        a {
            font-size: 1rem;
        }
    }

    .footer_links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        & > * {
            color: black;
            flex-basis: 30%;
        }
    }
}
